/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Lato", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 15px;
$large-size: 32px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: grey;


$yellow: #FDB631;
$beige: #e9c9b5;
$light-blue: #9dc3d4;
$lighter-green: #adcdc2;
$pink: #e3868f;
$red: #ff1744;
$green: #32B796;
$light-green: #7accb8;
$greyish: #818F84;
$blue: #00b2ca;
$yellow-green: #D9CE52;
$orange: #FF8812;
$bright-green: #00FBE4;
$purple: #4F84C4;
$dark-red: #A31A3B;
$brown: #967643;

// Gray scale
$grey-darker:  lighten(#000, 13.5%); // #222
$grey-dark:    lighten(#000, 20%);   // #333
$grey:         lighten(#000, 33.5%); // #555
$grey-light:   lighten(#000, 46.7%); // #777
$grey-lighter: lighten(#000, 93.5%); // #eee
