<div class="board board-container">
  <div class="board-item">
    <%= image_tag "heart.png" %>
    <p>Expériences à vivre</p>
  </div>
  <div class="board-item">
    <%= image_tag "check.png" %>
    <p>Expériences vécues</p>
  </div>
</div>
