<div class="card" style="background-image: url(<%= @experience.picture.url(:medium) %>);">
  <div class="card-space"></div>
  <span class="card-category">
    <%= @experience.category.capitalize %>
  </span>
  <div class="card-shadow"></div>
  <div class="card-content">
    <h1><%= @experience.title.capitalize %></h1>
    <p>
      inspiré par <%= @experience.user.email %>
    </p>
  </div>
</div>
