<div class="footbar footbar-fixed">
  <div class="footbar-container">
    <div class="footbar-item">
      <%= image_tag "idea.png" %>
      <p>Trouver des idées</p>
    </div>
    <div class="footbar-item">
      <%= image_tag "moi.png" %>
      <p>Moi</p>
    </div>
    <div class="footbar-item">
      <%= image_tag "create.png" %>
      <p>Créer une expérience</p>
    </div>
  </div>
</div>
