<div class="bar bar-container">
  <div class="icon-btn bar-link">
    <%= image_tag "heart.png", {class: "large-icon"} %>
    <div class="icon-btn-text large-text">Expériences à vivre</div>
  </div>
  <div class="icon-btn bar-link">
    <%= image_tag "check.png", {class: "large-icon bar-link"} %>
    <div class="icon-btn-text large-text">Expériences vécues</div>
  </div>
</div>
