<div class="topbar topbar-container topbar-absolute">
  <div class="topbar-logo">
    <%= image_tag "Woom_logo_white.png" %>
  </div>
  <div class="topbar-count">
      <%= image_tag "heart.png" %>5
      <%= image_tag "check.png" %>12
  </div>
</div>
