.topbar {
  background: transparent;
  &-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 300;
    &:hover {
      text-decoration: none;
    }
  }
  color: white;
  &-container {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
  }
  &-absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  &-logo {
    width: 70px;
  }
  &-count {
    font-size: 20px;
    font-weight: 300;
    color: white;
    img {
      height: 20px;
    }
  }
  hr {
    height: 12px;
    border-right: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
  }
}
