/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Body
h1 {
  font-weight: 400;
  font-size: 25px;
  color: white;
}
h2 {
  font-weight: 300;
  font-size: 25px;
  color: white;
}
// Margin
.margin-topbar {
  margin-top: 50px;
}
.margin-horizontal-10 {
  margin: 0 10px;
}
// Paddings
.padded {
  padding-top: 30px;
  padding-bottom: 70px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.padded-10 {
  padding: 10px 0px;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
// Background with images
.bg {
  background-size:cover;
  background-position:center;
  &-bridge {
    background-image:image-url('new_adventure.jpeg');
  }
  &-sign-up {
    background-image:image-url('beach.png');
  }
  &-home-banner {
    background-image:image-url('home_banner');
  }
}



// Background Colors for categories
.bg-color-white {
    background: white;
}

// Categories color
//Creative, Duo, Family, Foodies, Novels, Sports, Sweetlife, Travels, Trendy

.bg {
  &-creative {
    background-color: $green;
  }
  &-duo {
    background-color: $pink;
  }
  &-family {
    background-color: $lighter-green;
  }
  &-foodies {
    background-color: $dark-red;
  }
  &-novels {
    background-color: $blue;
  }
  &-sports {
    background-color: $orange;
  }
  &-sweetlife {
    background-color: $beige;
  }
  &-trendy {
    background-color: $red;
  }
  &-travels {
    background-color: $light-green;
  }
}
// Icons
.small-icon {
  height: 26px;
}
.large-icon {
  height: 50px;
}
// Texts
.small-text {
  font-size: 10px;
}
.large-text {
  font-size: 13px;
}

.white {
  color: white;
}

.grey-dark {
  color: $grey-dark;
}


