/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Body
h1 {
  font-weight: 400;
  font-size: 25px;
  color: white;
}
h2 {
  font-weight: 300;
  font-size: 25px;
  color: white;
}
// Margin
.margin-topbar {
  margin-top: 50px;
}
.margin-horizontal-10 {
  margin: 0 10px;
}
// Paddings
.padded {
  padding-top: 30px;
  padding-bottom: 70px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
// Background with images
.bg {
  background-size:cover;
  background-position:center;
  &-bridge {
    background-image:image-url('new_adventure.jpeg');
  }
}



// Background Colors for categories
.bg-color- {
  &-white {
    background: white;
  }
  &-sweetlife {
    background: $sweetlife;
  }
  &-culture {
    background: $culture;
  }
  &-cinéma {
    background: $cinema;
  }
  &-balade {
    background: $balade;
  }
  &-la.vie.en.rose {
    background: $lavieenrose;
  }
  &-spectacle {
    background: $spectacle;
  }
  &-musique {
    background: $musique;
  }
  &-voyage {
    background: $voyage;
  }
  &-exposition {
    background: $exposition;
  }
  &-sensation {
    background: $sensation;
  }
  &-fun {
    background: $fun;
  }
  &-plaisir {
    background: $plaisir;
  }
  &-sport {
    background: $sport;
  }
  &-spiritualité {
    background: $spiritualite;
  }
  &-food {
    background: $food;
  }
  &-engagement {
    background: $engagement;
  }
}
// Icons
.small-icon {
  height: 26px;
}
.large-icon {
  height: 50px;
}
// Texts
.small-text {
  font-size: 10px;
}
.large-text {
  font-size: 13px;
}

.white {
  color: white;
}

.grey-dark {
  color: $gray-dark;
}


