.icon-btn {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  &-text {
    margin-top: 4px;
  }
  &:hover {
    font-weight: 600;
  }
}

.ghost-btn {
  display: inline-block;
  background-color: rgba(0,0,0,0.2);
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 30px 20px 30px;
  border-radius: 0.1em;
  line-height: 10px;
  &-white {
    color: white;
    border: 1px solid white;
    &:hover {
      text-decoration:none;
      color: darken(white, 10%);
      background-color: rgba(0, 0, 0, 0.3);
      border-color: (white, 10%);
    }
  }
  &-grey {
    color: $grey-dark;
    border: 1px solid $grey-dark;
    background:transparent;
    &:hover {
      text-decoration:none;
      color: lighten($grey-dark, 15%);
      background-color: darken(white, 12%);
      border-color: lighten($grey-dark, 15%);
    }
  }
}
