.card {
  color: white;
  background-color: black;
  height: 70vh;
  &-space {
    height:50px;
  }
  &-category {
    border-radius: 2px;
    padding: 5px 23px 5px 17px;
  }
  &-content {
    text-align: center;
    padding: 20px;
    h1 {
      font-weight: 400;
      font-size: 28px;
    }
  }
}
