.card {
  color: white;
  height: 265px;
  position: relative;
  z-index: 0;
  background-size: cover;
  a {
    color:white;
  }

  &-space {
    height:50px;
  }
  &-category {
    border-radius: 2px;
    padding: 5px 23px 5px 17px;
    position: relative;
    z-index: 2;
  }
  &-shadow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-image: linear-gradient(150deg, rgba(200,70,30, 0.3) 10%, rgba(40,21,14,0.8) 80%);
  }
  &-content {
    text-align: center;
    position: relative;
    z-index: 2;
    h1 {
      //font-size: 28px;
    }
  }
}

